$black:           #000000;
$white:           #ffffff;
$gray-light:      #fafafa;
$gray:            #eeefef;
$gray-med:        #a5a7aa;
$gray-dark:       #4b4f54;
$blue:            #125688;
$red:             #d0021b;
$orange:          #ffbe53;
$green:           #70cd0a;

$borders:         #edeeee;
