* { box-sizing: border-box; }

html,
body {
  background-color: $gray;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a {

  color: $blue;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: darken($blue, 10%);
  }

}

svg {
  fill: currentColor;
}
