.form-wrapper {
  max-width: 420px;
  margin: 0 auto;
}

.input {

  margin-bottom: 8px;

  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 4px;
  }

  input {

  }

  [type='text'],
  [type='email'],
  [type='password'] {
    width: 100%;
    padding: 10px;
    border: solid 1px $gray;
    border-radius: 3px;
    outline: none;
    background-color: $white;
  }

  [type='checkbox'] {
    display: inline-block;
    margin-right: 4px;
  }

}

[type='submit'] {
  display: inline-block;
  padding: 10px 16px;
  border: 0;
  border-radius: 3px;
  background-color: $blue;
  color: $white;
}

.form-links {
  margin-top: 20px;
}
