.posts {
  margin-top: 60px;
}

.post {

  margin-bottom: 60px;
  border: solid 1px $borders;
  border-radius: 3px;
  background-color: $white;

  &__header {
    @include clearfix;
    height: 64px;
    padding: 14px 20px;
  }

  &__header-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    border: 1px solid $borders;
    border-radius: 50%;
    background-color: $gray-light;
    vertical-align: middle;
  }

  &__header-name {
    margin-left: 10px;
    vertical-align: middle;
  }

  &__header-time {
    margin: 10px 0 0;
    float: right;
    color: $gray-med;
  }

  &__image {

    display: block;
    width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  &__like-count {
    margin: 0 0 6px;
    color: $gray-dark;
    font-weight: 500;
  }

  &__caption {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
  }

  &__footer {
    padding: 24px 24px 0;
    font-size: 15px;
  }

  &__like-and-comment {
    position: relative;
    margin-top: 24px;
    padding: 24px 50px;
    border-top: solid 1px $gray;
  }

  &__comment-form {

    [type='text'] {
      display: block;
      border: 0;
      outline: none;
    }

  }

  &__like-form,
  &__edit-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__like-form {
    left: 0;
  }

  &__edit-form {

    display: block;
    right: 0;
    width: 24px;
    height: 24px;
    color: $gray-med;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }

  }

}
