.posts {
  margin-top: 60px;
}

.post {

  margin-bottom: 60px;
  border: solid 1px $borders;
  border-radius: 3px;
  background-color: $white;

  &__header {
    @include clearfix;
    height: 64px;
    padding: 14px 20px;
  }

  &__header-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    border: 1px solid $borders;
    border-radius: 50%;
    background-color: $gray;
    vertical-align: middle;
  }

  &__header-name {
    margin-left: 10px;
    vertical-align: middle;
  }

  &__header-time {
    margin: 10px 0 0;
    float: right;
    color: $gray-dark;
  }

  &__image {

    display: block;
    width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  &__footer {
    padding: 24px;
    font-size: 15px;
  }

  &__caption {
    margin: 0;
  }

}
